* {
    margin  : 0;
    padding : 0;
}

header {
    font           : bold 36px/120% Arial, Helvetica, sans-serif;
    background     : #aaa;
    color          : #ccc;
    text-transform : uppercase;
    height         : 2em;
    font-weight    : 400;
}